
<!DOCTYPE html>
<html>
<head>
    <title>SignalR MoveShape Demo</title>
    <style>
        #shape {
            width: 100px;
            height: 100px;
            background-color: #FF0000;
        }
    </style>
</head>
<body>
    <!--chart se dc draw o day-->
    <div id="chart_div"></div>

    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery.signalr.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

        //dong nay chi dc load 1 lan
        google.charts.load('current', { packages: ['corechart', 'line'] });

        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'Ram');

            data.addRows([
                [0, 0], [1, 10], [2, 23], [3, 17], [4, 18], [5, 9],
                [6, 11], [7, 27], [8, 33], [9, 40], [10, 32], [11, 35],
                [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
                [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
                [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
                [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
                [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
                [42, 63], [43, 66], [44, 67], [45, 69], [46, 69], [47, 70],
                [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
                [54, 71], [55, 72], [56, 73], [57, 75], [58, 70], [59, 68],
                [60, 64]
            ]);

            var options = {
                hAxis: {
                    title: 'Time'
                },
                vAxis: {
                    title: 'Percent (%)'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            //dong nay de draw
            chart.draw(data, options);
        }

        $(function () {
            var drawGraph = function (data) {
                $shape.text = "";
                var text = "";
                for (var i = 0; i < data.cores.length; ++i) {
                    text += data.cores[i].load + ", ";
                }
                $shape[0].innerHTML = text;
            }
            var cpuTickerHub = $.connection.cpuTickerHub,
                   $shape = $("#graph");
            cpuTickerHub.client.updateData = function (data) {
                cpuData = data;
                drawGraph(cpuData);
            };
            $.connection.hub.start({ transport: ['webSockets', 'longPolling'] }).done(function () {
                cpuTickerHub.server.getCpuData();
            });
        });
    </script>

    <div id="graph" />
</body>
</html>
